body {
    height: 100%;
    margin: 0%;
   }
   .column1 {
       float: left;
       width: 30%;
       height: 100%;
       background-color: rgb(5, 117, 117,0.935);
   }
   .column1 header {
       padding-top: 10%;
       padding-bottom: 5%;
   }
   .column2{
       float: right;
       width: 70%;
       height: 100%;
       background-color: antiquewhite;
   }
   body hr {
       border: 2px double;
   }
   .class-links:hover,
   .class-links:visited {
       text-decoration: none;
   }
   #Date {
       padding-left: 60%;
   }   